@{
    ViewBag.Title = "Import";
}

<h2>Изменение базы (расширение или сжатие)</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <input type="file" accept=".csv" name="uploads" /><br>
    <input type="file" accept=".csv" name="uploads" /><br>
    <input type="file" accept=".csv" name="uploads" /><br>
    @*<input type="submit" value="Загрузить" />*@
}