@model IEnumerable<Kursach.Models.RatingsModel>
@{
    ViewBag.Title = "Домашняя страница";
}

<!--
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>UserID</th>
                <th>MovieID</th>
                <th>Rating</th>
                <th>Movie Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
        -->